.footer {
  background-color: $background-footer-color;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.address-link-container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    display: flex;
    align-items: baseline;
  }
}
.address-container {
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 69px;
    text-align: left;
  }
}
.link-conteiner {
  @media screen and (min-width: 1200px) {
    margin-right: 94px;
  }
}
.subscription-container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.social {
  .item {
    display: flex;
    align-items: center;
  }
  .item:not(:last-child) {
    margin-right: 10px;
  }
}

.address-footer {
  font-style: normal;
  color: $background-text-color;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    font-style: normal;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}
.address-footer .link {
  color: $address-text-color;
  font-style: normal;
  text-decoration: none;
}
.footer .subscription {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  color: $background-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  text-transform: uppercase;
}
.link-decoration.footer-soc {
  background-color: #44454e;
  border-radius: 50%;
  color: $background-text-color;
  margin-right: 10px;
}
.footer-soc.no-margin {
  margin-right: 0;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  border: none;
  min-width: 200px;
  border-radius: 4px;
  border-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $background-text-color;
  background-color: $accent-color;

  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: color 250ms $timing-function;
}
.footer-button .send-icon {
  margin-left: 10px;
}
.send-icon {
  fill: currentColor;
}
.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  text-align: center;
}
.e-mail {
  width: 450px;
  height: 50px;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 12px;
  }

  padding: 15px 16px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $background-text-color;
}
