.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/header-mobi.jpg");
  background-color: $primary-text-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .box {
      background-image: url("header-mobi@2x.jpg");
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/header-table.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box {
        background-image: url("header-table@2x.jpg");
      }
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../images/header.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box {
        background-image: url("header@2x.jpg");
      }
    }
  }
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $background-text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
